/*----------------------------starts global styles----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Cairo', sans-serif;

  /*The following line fixes issue of bold text not displaying correctly on Google Chrome*/
  -webkit-font-smoothing: antialiased;

  /*The following line fixes ensures that viewport is 100% after changing orientation, by telling browser not to adjust text size*/
  -webkit-text-size-adjust: 100%;

  /* color settings */
  --primary-color-hex: #13073a; /* dark blue */
  --primary-color-rgb: 19, 7, 58;
  --secondary-color-hex: #ff9800; /* materialize orange */
  --secondary-color-rgb: 255, 152, 0;
  --tertiary-color-hex: #ffffff;
  --tertiary-color-rgb: 255, 255, 255;

  /* font-size settings */
  --h1-font-size: 24px;
  --h2-font-size: 21px;
  --h3-font-size: 18px; /* same as navbar */
  --h4-font-size: 16px;
  --h5-font-size: 16px; /* same as p (no h5 used so far) */
  --h6-font-size: 16px; /* same as p (no h6 used so far) */
  --footer-p-font-size: 14px;
  --font-size-plus-two: 2px;
  --font-size-plus-four: 4px;
  --font-size-plus-six: 6px;
  --font-size-plus-eight: 8px;
}

/* the following code pushes the footer to the bottom of the viewport */
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/*-----------------------------ends global styles-----------------------------*/

/*---------------------starts xs (<= 768px) - phone styles--------------------*/
/*----------------------------starts common styles----------------------------*/
.container {
  margin: 0 20px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-align: center;
}

h1 {
  padding: calc(var(--h1-font-size) * 0.5) 0;
  font-size: var(--h1-font-size);
}

h2 {
  padding-bottom: var(--h2-font-size);
  font-size: var(--h2-font-size);
}

h3 {
  padding: calc(var(--h3-font-size) * 0.5) 0;
  font-size: var(--h3-font-size);
}

h4 {
  padding: calc(var(--h4-font-size) * 0.5) 5px;
  font-size: var(--h4-font-size);
}

p,
ul li {
  font-weight: 400;
  font-size: var(--h5-font-size);
}

hr {
  color: var(--primary-color-hex);
  background-color: var(--primary-color-hex);
  border-style: solid;
  height: 1px;
}
/*-----------------------------ends common styles-----------------------------*/

/*----------------------------starts header styles----------------------------*/
/*-----------------------------starts nav styles------------------------------*/
#navbar-bg {
  z-index: 9;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  transition: height 0.5s;
  background-color: var(--primary-color-hex);
}

#logo {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  transition: top 0.5s;
}

#logo img {
  height: 30px;
  transition: height 0.5s;
}

#last-name {
  display: none;
  line-height: 40px;
  vertical-align: top;
  padding-left: 10px;
  color: var(--tertiary-color-hex);
  font-size: var(--h3-font-size); /* same as navmenu a */
  font-weight: 700;
}

.navmenu {
  display: inline-block;
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 10px;
  width: auto;
  text-align: right;
  background-color: inherit;
}

/* The following lines were used for burger menu in navbar */
/* .navmenu {
  display: none;
  top: 50px;
  width: 100%;
  background-color: rgba(19, 7, 58, 0.8);
} */

/* .navmenu a {
  display: block;
} */

.navmenu a {
  display: inline-block;
  padding-left: 10px;
  color: var(--tertiary-color-hex);
  line-height: 50px;
  font-size: var(--h3-font-size);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: font-size 0.5s;
}

.navmenu a:visited {
  color: var(--tertiary-color-hex);
}

.navmenu a.active {
  color: var(--secondary-color-hex);
}

.navmenu a:hover {
  text-decoration: underline;
}
/*------------------------------ends nav styles-------------------------------*/

/*-----------------------------starts main styles-----------------------------*/
/* ----------- starts styling for sections with hero-images class ----------- */
.hero-images {
  margin-top: 50px;
  z-index: 0;
  position: relative;
  text-align: center;
}

.hero-images img {
  width: 100%;
  display: block;
}
/* ------------ ends styling for sections with hero-images class ------------ */
/* ------------------ starts common styling for main section ---------------- */
main,
main a,
main a:visited {
  color: var(--primary-color-hex);
}

main a,
main a:visited {
  text-decoration: none;
  font-weight: 700;
}
/* ------------------- ends common styling for main section ----------------- */
/* ----------------- starts styling for About.js component ------------------ */
#about p {
  margin-bottom: var(--h5-font-size);
}

p {
  text-align: justify;
}
/* ------------------ ends styling for About.js component ------------------- */

/* ---------------- starts styling for Project.js component ----------------- */
.public-repo article,
.private-repo article {
  margin-bottom: 40px;
  vertical-align: top;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.public-repo article:hover,
.private-repo article:hover {
  transform: scale(1.05);
}

#projects h3 {
  width: 100%;
  background-color: rgba(var(--primary-color-rgb), 0.8);
  color: var(--tertiary-color-hex);
}

#projects h4 {
  z-index: 1;
  width: 100%;
  background-color: rgba(var(--secondary-color-rgb), 0.8);
}

#projects img.project-screenshot {
  z-index: 0;
  width: 100%;
  border: solid var(--primary-color-hex) 1px;
}

#projects .public-repo .github-logo {
  display: none;
  z-index: 1;
  position: absolute;
  width: 40px;
  right: 20px;
  top: 120px;
}

#projects .public-repo article:hover .github-logo {
  display: inline;
}

#projects hr {
  margin-bottom: var(--h3-font-size);
}
/* ----------------- ends styling for Project.js component ------------------ */

/* ---------------- starts styling for Contact.js component ----------------- */
label,
input,
#message-input,
#contact-submit {
  display: block;
  width: 100%;
}

label,
#contact-submit {
  font-size: var(--h3-font-size);
}

input,
textarea {
  font-size: var(--h6-font-size);
  margin-bottom: var(--h6-font-size);
  padding: 0 10px;
}

#contact-submit {
  border: none;
  border-radius: 20px;
  background-color: var(--secondary-color-hex);
}
/* ----------------- ends styling for Contact.js component ------------------ */

/* ----------------- starts styling for Resume.js component ----------------- */
#resume-link {
  color: var(--secondary-color-hex);
  font-size: var(--h2-font-size);
}

#skills ul {
  margin-left: 20px;
}

#skills h3 {
  text-align: left;
}
/* ------------------ ends styling for Resume.js component ------------------ */
/*------------------------------ends main styles------------------------------*/

/*----------------------------starts footer styles----------------------------*/
footer {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  background-color: var(--primary-color-hex);
  color: var(--tertiary-color-hex);
}

footer p {
  font-size: var(--footer-p-font-size);
  text-align: center;
}

footer a {
  color: var(--tertiary-color-hex);
}

.social-media ul {
  text-align: center;
}

.social-media li {
  display: inline;
  list-style: none;
  padding: 0px 10px;
}

.social-media img {
  height: 40px;
}
/*-----------------------------ends footer styles-----------------------------*/
/*----------------------ends xs (<= 768px) - phone styles---------------------*/

/*------------------starts sm (768px < 992px) tablets styles------------------*/
@media screen and (min-width: 768px) {
  /*------------------------------common styles-------------------------------*/
  .container {
    margin: 0 5%;
  }

  h1 {
    font-size: calc(var(--h1-font-size) + var(--font-size-plus-two));
  }

  h2 {
    font-size: calc(var(--h2-font-size) + var(--font-size-plus-two));
  }

  h3,
  #last-name,
  .navmenu a,
  label,
  #contact-submit,
  #resume-link {
    font-size: calc(var(--h3-font-size) + var(--font-size-plus-two));
  }

  h4,
  ul li,
  input,
  textarea {
    font-size: calc(var(--h4-font-size) + var(--font-size-plus-two));
  }

  p {
    font-size: calc(var(--h5-font-size) + var(--font-size-plus-two));
  }

  /*-----------------------------header styles------------------------------*/
  #navbar-bg {
    height: 70px;
    transition: height 0.5s;
  }

  #logo {
    top: 10px;
    left: 5%;
    transition: top 0.5s;
  }

  #logo img {
    height: 50px;
    transition: height 0.5s;
  }

  #last-name {
    display: inline;
    padding-left: 20px;
    line-height: 50px;
  }

  .navmenu {
    right: 5%;
  }

  .navmenu a {
    line-height: 70px;
    padding-left: 2rem;
  }

  .hero-images {
    margin-top: 70px;
  }

  /*-----------------------------main styles------------------------------*/
  .public-repo article,
  .private-repo article {
    display: inline-block;
    width: 47.5%;
    margin-bottom: 50px;
  }

  .public-repo article:nth-of-type(even),
  .private-repo article:nth-of-type(even) {
    margin-left: 5%;
  }

  /* The following code makes the featured projects span 100% width */
  /* 
  .public-repo article.featured {
    display: block;
    width: 100%;
  }
  .public-repo article.featured:nth-of-type(even) {
    margin-left: 0;
  } */

  label,
  input,
  #message-input,
  #contact-submit {
    width: 50%;
  }

  #skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #skills ul {
    margin-left: 5%;
  }

  .flex-list {
    width: 50%;
  }
  /*-----------------------------footer styles------------------------------*/
  footer p {
    font-size: calc(var(--footer-p-font-size) + var(--font-size-plus-two));
  }

  .social-media img {
    height: 50px;
  }
}
/*-------------------ends sm (768px < 992px) tablets styles-------------------*/

/*--------------starts md (992px < 1199px) small laptops styles---------------*/
@media screen and (min-width: 992px) {
  /*------------------------------common styles-------------------------------*/
  h1 {
    font-size: calc(var(--h1-font-size) + var(--font-size-plus-four));
  }

  h2 {
    font-size: calc(var(--h2-font-size) + var(--font-size-plus-four));
  }

  h3,
  #last-name,
  .navmenu a,
  label,
  #contact-submit,
  #resume-link {
    font-size: calc(var(--h3-font-size) + var(--font-size-plus-four));
  }

  h4,
  ul li,
  input,
  textarea {
    font-size: calc(var(--h4-font-size) + var(--font-size-plus-four));
  }

  p {
    font-size: calc(var(--h5-font-size) + var(--font-size-plus-four));
  }
}
/*---------------ends md (992px < 1199px) small laptops styles----------------*/

/*--------------starts lg (>= 1200px) laptops & desktops styles---------------*/
@media screen and (min-width: 1200px) {
  h1 {
    font-size: calc(var(--h1-font-size) + var(--font-size-plus-six));
  }

  h2 {
    font-size: calc(var(--h2-font-size) + var(--font-size-plus-six));
  }

  h3,
  #last-name,
  .navmenu a,
  label,
  #contact-submit,
  #resume-link {
    font-size: calc(var(--h3-font-size) + var(--font-size-plus-six));
  }

  h4,
  ul li,
  input,
  textarea {
    font-size: calc(var(--h4-font-size) + var(--font-size-plus-six));
  }

  p {
    font-size: calc(var(--h5-font-size) + var(--font-size-plus-six));
  }

  .public-repo article,
  .private-repo article {
    width: 28.33%;
  }

  .public-repo article:nth-of-type(even),
  .private-repo article:nth-of-type(even) {
    margin-left: 0px;
  }

  .public-repo article:nth-of-type(3n + 2),
  .private-repo article:nth-of-type(3n + 2) {
    margin-right: 5%;
    margin-left: 5%;
  }

  label,
  input,
  #message-input,
  #contact-submit {
    width: 40%;
  }

  .flex-list {
    width: 33%;
  }

  .social-media img {
    height: 70px;
  }
}
/*---------------ends lg (>= 1200px) laptops & desktops styles----------------*/
