/*-----------------------------global styles------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Cairo', sans-serif;
  /*The following line fixes issue of bold text not displaying correctly on Google Chrome*/
  -webkit-font-smoothing: antialiased;
  /*The following line fixes ensures that viewport is 100% after changing orientation, by telling browser not to adjust text size*/
  -webkit-text-size-adjust: 100%;
  --main-bg-color: #13073a; /* rgb: 19,7,58 */
}

/*----------------------- xs (<= 768px) - phone styles------------------------*/
/*-----------------------------common styles------------------------------*/
/* The following code pushes the footer to the bottom of the viewport */
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  margin: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}

h1 {
  padding: 1rem 0px;
  font-size: 24px;
  line-height: 2rem;
}

h2 {
  margin: 2rem 0;
  font-size: 20px;
}

/* h3 used in Skills.js, label used in Contact.js */
h3,
label,
#contact-submit,
#resume-link {
  font-size: 18px;
}

#download-header {
  margin-bottom: 1.5rem;
}

label,
input,
#message-input,
#contact-submit {
  display: block;
  width: 100%;
}

input,
textarea {
  margin-bottom: 1rem;
}

input,
textarea {
  padding: 0 10px;
}

#message-input {
  padding-top: 10px;
}

#contact-submit {
  border: none;
  border-radius: 20px;
  background-color: #daa520;
}

#contact-form {
  margin-bottom: 2rem;
}

/* h4 used in projects */
h4,
h5,
p,
ul li,
input,
textarea {
  font-size: 16px;
}

p,
ul li {
  font-weight: 400;
}

p,
ul {
  margin-bottom: 1rem;
}

p {
  text-align: justify;
}

/*-----------------------------header styles------------------------------*/
#navbar-bg {
  z-index: 9;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  transition: height 0.5s;
  background-color: rgba(19, 7, 58, 1);
}

#logo {
  z-index: 10;
  position: fixed;
  top: 10px;
  transition: top 0.5s;
  left: 10px;
  text-decoration: none;
}

#logo img {
  height: 30px;
  transition: height 0.5s;
}

#last-name {
  display: none;
  line-height: 40px;
  vertical-align: top;
  padding-left: 10px;
  color: #ffffff;
  font-size: 18px; /* same as navmenu */
  font-weight: 700;
}

.navmenu {
  display: inline-block;
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 10px;
  width: auto;
  text-align: right;
  background-color: inherit;
}
/* .navmenu {
  display: none;
  top: 50px;
  width: 100%;
  background-color: rgba(19, 7, 58, 0.8);
} */

.navmenu a {
  display: inline-block;
  padding-left: 10px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  transition: font-size 0.5s;
  line-height: 50px;
}
/* .navmenu a {
  display: block;
} */

.navmenu a:visited {
  color: #ffffff;
}

.navmenu a.active {
  color: #daa520;
}

.navmenu a:hover {
  text-decoration: underline;
}

#jumbotron {
  margin-top: 50px;
}

.jumbotronPics {
  z-index: 0;
  position: relative;
  text-align: center;
}

.jumbotronPics img {
  width: 100%;
  display: block;
}

/*-----------------------------main styles------------------------------*/
.main {
  color: var(--main-bg-color);
}

.main a,
.main a:visited {
  text-decoration: none;
  color: var(--main-bg-color);
  text-align: justify;
  font-size: 16px; /* same as p */
  font-weight: 700;
  padding: 0px 0px 20px 0px;
}

.main li {
  margin-left: 20px;
}

article {
  margin-bottom: 40px;
  vertical-align: top;
}

article {
  position: relative;
  transition: all 0.2s ease-in-out;
}

article:hover {
  transform: scale(1.05);
}

#projects h4 {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

#projects h5 {
  z-index: 1;
  width: 100%;
  background-color: rgba(19, 7, 58, 0.4);
  color: #ffffff;
  text-align: center;
}

#projects .github-logo {
  display: none;
  z-index: 1;
  position: absolute;
  width: 40px;
  right: 20px;
  top: 120px;
}

#projects article:hover .github-logo {
  display: inline;
}

#projects img {
  z-index: 0;
  width: 100%;
}

#resume-link {
  color: #daa520;
}

#skills h3 {
  text-align: left;
}

/*-----------------------------footer styles------------------------------*/
footer {
  width: 100%;
  margin-top: 2rem;
  padding: 20px;
  background-color: var(--main-bg-color);
  color: #ffffff;
}

footer p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 1.5rem;
}

footer a {
  color: #ffffff;
}

.social-media ul {
  text-align: center;
}

.social-media li {
  display: inline;
  list-style: none;
  padding: 0px 10px;
}

.social-media img {
  height: 30px;
}

/*----------------------------- sm (768px < 992px) tablets styles------------------------------*/
@media screen and (min-width: 768px) {
  /*-----------------------------common styles------------------------------*/
  h1 {
    padding: 2rem 0px;
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3,
  label,
  #contact-submit,
  #resume-link {
    font-size: 20px;
  }

  h4,
  p,
  ul li,
  input,
  textarea {
    font-size: 18px;
  }

  /*-----------------------------header styles------------------------------*/
  #navbar-bg {
    height: 70px;
    transition: height 0.5s;
  }

  #logo {
    top: 10px;
    left: 5%;
    transition: top 0.5s;
  }

  #logo img {
    height: 50px;
    transition: height 0.5s;
  }

  #last-name,
  .navmenu a {
    font-size: 24px;
  }

  #last-name {
    display: inline;
    padding-left: 20px;
    line-height: 50px;
  }

  .navmenu {
    right: 5%;
  }

  .navmenu a {
    line-height: 70px;
    padding-left: 2rem;
  }

  #jumbotron {
    margin-top: 70px;
  }

  /*-----------------------------main styles------------------------------*/
  .main a {
    font-size: 18px; /* same as p */
  }

  #skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .flex-list {
    width: 50%;
  }

  article {
    margin-bottom: 50px;
  }

  article {
    display: inline-block;
    width: 48%;
    margin-bottom: 70px;
  }

  article:nth-child(even) {
    margin-left: 4%;
  }

  #featured article {
    display: block;
    width: 100%;
    margin-right: 0%;
  }

  label,
  input,
  #message-input,
  #contact-submit {
    width: 50%;
  }

  /*-----------------------------footer styles------------------------------*/
  footer p {
    font-size: 16px;
  }

  .social-media img {
    height: 40px;
  }
}

/*----------------------------- md (992px < 1199px) small laptops styles------------------------------*/
@media screen and (min-width: 992px) {
  /*-----------------------------common styles------------------------------*/
  .container {
    margin: 0 5%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3,
  label,
  #contact-submit,
  #resume-link {
    font-size: 24px;
  }

  h4,
  p,
  ul li,
  input,
  textarea {
    font-size: 20px;
  }

  /*-----------------------------header styles------------------------------*/
  #last-name,
  nav a {
    font-size: 28px; /* same as h2 */
  }

  /*-----------------------------main styles------------------------------*/
  .main a {
    font-size: 20px; /* same as p */
  }

  .main li {
    margin-left: 5%;
  }

  /*-----------------------------footer styles------------------------------*/
}

/*----------------------------- lg (>= 1200px) laptops & desktops styles------------------------------*/
@media screen and (min-width: 1200px) {
  .flex-list {
    width: 33%;
  }

  article {
    width: 31%;
  }

  article:nth-child(even) {
    margin-left: 0;
  }

  article:nth-child(3n + 2),
  article:nth-child(3n) {
    margin-left: 3%;
  }

  label,
  input,
  #message-input,
  #contact-submit {
    width: 40%;
  }

  .social-media img {
    height: 50px;
  }
}
